@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

@theme{
    --font-rubik: "Rubik", sans-serif;
    --font-rubik-mono: "Rubik Mono One", monospace;

}
@layer {

    @keyframes scrollLeft{
        to{
            left: -250px;
        }
    }


    .item{
        left: calc(200px * 8);
        animation-name: scrollLeft;
        animation-duration: 30s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        position: absolute;
    }

    .item1{
        animation-delay: calc(30s / 8 * (8 - 1) * -1);
    }
    .item2{
        animation-delay: calc(30s / 8 * (8 - 2) * -1);
    }
    .item3{
        animation-delay: calc(30s / 8 * (8 - 3) * -1);
    }
    .item4{
        animation-delay: calc(30s / 8 * (8 - 4) * -1);
    }
    .item5{
        animation-delay: calc(30s / 8 * (8 - 5) * -1);
    }
    .item6{
        animation-delay: calc(30s / 8 * (8 - 6) * -1);
    }
    .item7{
        animation-delay: calc(30s / 8 * (8 - 7) * -1);
    }
    .item8{
        animation-delay: calc(30s / 8 * (8 - 8) * -1);
    }
    
}